.md-nav__source, .md-source__facts {
  display: none;
}

.md-source__repository {
  font-weight: 400;
  font-size: 1.8rem;
  overflow: visible;
}

.md-nav__link[data-md-state=blur] {
  text-decoration: line-through;
}