{% import "partials/language.html" as lang %}

<!-- Application footer -->
<footer class="md-footer">

  <!-- Further information -->
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">

      <!-- Copyright and theme information -->
      <div class="md-footer-copyright">
        {% if config.copyright %}
          <div class="md-footer-copyright__highlight">
            {{ config.copyright }}
          </div>
          All rights reserved
        {% endif %}
      </div>

      <!-- Social links -->
      {% block social %}
        {% include "partials/social.html" %}
      {% endblock %}
    </div>
  </div>
<!--
  <ul class="md-nav__list" data-md-scrollfix>
    <li class="md-nav__item">
      <a href="mailto:support@branch.io?subject=I need some assistance&body=&body=Hello Branch Support,%0A%0AI am viewing this d: {{ page.canonical_url }}%0A%0A My Branch Key (https%3A%2F%2Fdashboard.branch.io%2Faccount-settings%2Fapp) is:%0A%0A Can you please assist me with..." title="Contact support">Contact support</a>
    </li>
    <li class="md-nav__item">
      <a href="{{ config.repo_url }}/{{ config.edit_uri }}{{ page.input_path }}" title="Improve This Doc">Improve this doc</a>
    </li>
    <li class="md-nav__item">
      <a href="" title="Helpful">Helpful</a>
    </li>
    <li class="md-nav__item">
      <a href="" title="Unhelpful">Unhelpful</a>
    </li>
  </ul>
   -->
</footer>