/* HEADER GIT STATS */
.md-nav__source, .md-source__facts, .md-source__icon {
  display: none;
}

.md-source__repository {
  font-weight: 400;
  font-size: 1.8rem;
  overflow: visible;
}

.md-nav__link[data-md-state=blur] {
  /*text-decoration: line-through;*/
}

div.md-sidebar--primary ul.md-nav__list li:first-child {
  /*display: none;*/
}

/*
SIDEBAR BORDERS

.md-sidebar--secondary .md-sidebar__inner {
  border-left: .1rem solid rgba(0,0,0,.07);
  border-right: none;
}

.md-sidebar--secondary .md-nav--secondary {
  border: none;
}
*/

/*
STICKY FOOTER

/* MARKDOWN */.md-footer {
  position:fixed;
  bottom:0px;
  width:100%;
  height: 10em;
}

.md-footer-social {
  display: none;
}

.md-container {
  padding-bottom: 20em !important;
}
*/